.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body{ background-color:wheat;

}
img{
    width: 100px;
    height: auto;
}

h1{
    color:royalblue;
}

h2{
    color:darkcyan;
}

h3{
    color: cornflowerblue;
}

h4{
    color:crimson;
}

ul{
    list-style: square;
}
